<div class="module module-light module-highlight-1 module-colour-<%= (publication.slug.length % 12) + 1 %>">
	<a href="<%= send("#{section.gsub('-', '_')}_article_path", publication.slug) %>" target="_top">
		<h1 class="module-heading"><%= publication.title %></h1>
		<p class="category"><%= section.gsub('-', ' ') %></p>
	</a>
</div>
