<div class="module module-light module-highlight-1 module-colour-<%= (publication.slug.length % 12) + 1 %> module-event">
	<a href="<%= course_instance_path(publication.details.course,Date.parse(publication.details.date).strftime("%Y-%m-%d")) %>" target="_top">
		<h1 class="module-heading"><%= publication.details.course_title %><br/><span class="date"><%= Date.parse(publication.details.date).strftime("%A %d %B %Y") %></span></h1>
		<p class="category">Course</p>
	</a>
</div>
