<% content_for :title, @publication.title %>
<div class="listing">
	<% begin %>
		<%= render :partial => "module/#{@section}", :locals => { :section => @section, :publication => @publication } %>
	<% rescue %>
		<%= render :partial => 'module/block', :locals => { :section => @section, :publication => @publication } %>
	<% end %>
</div>
