/* line 2, ../sass/ie6.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 9, ../sass/ie6.scss */
.module img, .png {
  position: relative;
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

/* line 21, ../sass/ie6.scss */
.navbar-brand {
  padding-left: 0;
  padding-right: 0;
}

/* line 29, ../sass/ie6.scss */
.navbar-inverse {
  height: 64px;
}
/* line 34, ../sass/ie6.scss */
.navbar-inverse a {
  padding: 10px 20px 13px;
  display: inline-block;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}
/* line 42, ../sass/ie6.scss */
.navbar-inverse a:hover, .navbar-inverse a:focus {
  text-decoration: none;
  background: #ff6700;
}

/* line 53, ../sass/ie6.scss */
.caret {
  display: none;
}

/* line 60, ../sass/ie6.scss */
.navbar-static-top {
  height: 64px;
  margin-top: 10px;
  margin-bottom: 25px;
}
/* line 66, ../sass/ie6.scss */
.navbar-static-top .pull-right {
  float: none;
}

/* line 76, ../sass/ie6.scss */
.main-nav {
  width: 400px;
}
/* line 80, ../sass/ie6.scss */
.main-nav li {
  display: block;
  float: none;
  background: none;
}
/* line 91, ../sass/ie6.scss */
.main-nav a {
  display: block;
  padding: 5px 20px 0px 20px;
  height: 30px;
}
/* line 97, ../sass/ie6.scss */
.main-nav a:hover {
  text-decoration: none;
}
/* line 102, ../sass/ie6.scss */
.main-nav .dropdown-menu {
  display: block;
  position: static;
  border: none;
}
/* line 108, ../sass/ie6.scss */
.main-nav .dropdown-menu a {
  margin-left: 15px;
}

/* line 119, ../sass/ie6.scss */
.article-hero.within-header {
  margin-top: 0;
}

/* line 125, ../sass/ie6.scss */
.article-hero img {
  width: 100%;
}

/* line 132, ../sass/ie6.scss */
.site-footer {
  clear: both;
  padding-top: 20px;
}

/* line 140, ../sass/ie6.scss */
.footer-content, .footer-nav {
  float: none !important;
  background: #000;
  width: auto !important;
}

/* line 148, ../sass/ie6.scss */
.footer-nav .pull-right {
  float: none !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
/* line 154, ../sass/ie6.scss */
.footer-nav .pull-right li {
  display: block;
}
