/*------------------------------------*\
    GENERAL
\*------------------------------------*/
/* line 6, ../sass/ie7.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 11, ../sass/ie7.scss */
.article-hero .hero {
  position: relative;
}
/* line 13, ../sass/ie7.scss */
.article-hero .hero-label {
  left: 0;
}

/*------------------------------------*\
    MASONRY BLOCKS
\*------------------------------------*/
/* line 22, ../sass/ie7.scss */
.home-module {
  float: left;
}

/* line 25, ../sass/ie7.scss */
.home-module {
  width: 48%;
}

@media (min-width: 992px) {
  /* line 30, ../sass/ie7.scss */
  .home-module {
    width: 31.33%;
  }
}
/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
/* line 54, ../sass/ie7.scss */
.site-header .navbar-form input[type=text] {
  border-bottom: 0;
  height: auto;
  padding-top: 5px;
  padding-bottom: 8px;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/* line 72, ../sass/ie7.scss */
.footer-nav {
  width: 25% !important;
  margin-right: 15px;
}
/* line 77, ../sass/ie7.scss */
.footer-nav .list-inline > li {
  display: block;
  text-align: right;
}
