<% content_for :title, "Newsletters" %>

<div class="article-main">
  <div class="article-full">
    <h2>Get the latest, greatest data news and events</h2>
    <p>There's always something exciting going on in the world of data. Keep your finger on the pulse with our regular e-shots – featuring everything from breaking news to cutting-edge innovations, free talks to major event discounts.</p>
    <p>We promise not to share your data with third parties. You can see how we store and use data in our <a href="http://theodi.org/privacy-policy">privacy policy</a>. </p>
    <p>Ready to jump aboard? Join today.</p>
    <%= render "form", newsletter: @newsletter %>
  </div>
</div>
