<% content_for :title, "Newsletters" %>

<div class="article-main">
  <div class="article-full">
    <h2>Subscribe to our mailing list</h2>
    <p>If you'd like to receive occassional updates by email (many people have asked), please let us know your details (we use <a href="http://mailchimp.com/">MailChimp</a> to manage our list). Obviously we don't spam/etc. and will update our T&amp;C's in the near future.</p>

    <%= render "form", newsletter: @newsletter %>
  </div>
</div>
