
// Import bootstrap
@import "bootstrap/bootstrap";

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$odiBlue: #00b7ff;
$odiOrange: #ff6700;
$odiOrangeDark: #f06100;

// Colour variables, primarily for home modules
$odiColour1: #D50303;
$odiColour2: $odiOrange;
$odiColour3: #F8BB26;
$odiColour4: #67EE67;
$odiColour5: #0DBB37;
$odiColour6: #036B56;
$odiColour7: #05D2AA;
$odiColour8: #38DDF8;
$odiColour9: $odiBlue;
$odiColour10: #178CFF;
$odiColour11: #2254F3;
$odiColour12: #691A4B;
$odiColour13: #B03197;
$odiColour14: #D73058;
$odiColour15: #E5007C;
$odiColour16: #EE3AAA;




/*------------------------------------*\
    BASE
\*------------------------------------*/

body {
    color: #4d4d4d;
    font-size: 18px;
}



/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4 {
    text-rendering: optimizelegibility;
    clear: both;
}

h1, h2 {
    font-weight: normal;
}

h3 {
    font-size: 22px;
    margin: 30px 0 10px
}

.standfirst {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin: 15px 0 40px 0;
    color: #8e8c8c;
}

p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;

}

blockquote {
    border-left: none;
    font-size: 22px;
margin: 10px 20px;
padding: 0.5em 10px;
quotes: "\201C" "\201D" "\2018" "\2019";
 color: #8e8c8c;

    p {
  display: inline;
  }
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.4em;
}

small, figcaption {

font-size: 85%;
}

ul, ol {
    margin-bottom: 30px;

}

hr.heavy {
border: 0;
height: 5px;
background: url(images/divider.png);
}


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/



/*------------------------------------*\
    HEADER
\*------------------------------------*/

/* shouldn't be necessary in future boostrap - https://github.com/twbs/bootstrap/issues/9382 */

.navbar-form {
    margin-bottom: 13px;
    margin-top: 13px;
    input[type=text] {
        max-width: 150px;
    }
    input[type=submit] {
        height: 34px;
        margin-left: -3px;
    }
}

#odi-logo{
    height: 40px;
    padding: 0;
}

.navbar-inverse li  {
    border-left: 1px solid #707070;
}

.site-header {
    input {
        background: #666;
        border: solid 1px #666;
        border-radius: 0;
        color: #000;
        height: 34px;
        &[type=submit] {
            text-transform: uppercase;
        }
    }
    ::-webkit-input-placeholder {
        color: #000;
    }

    :-moz-placeholder {
        color: #000;
    }

    :-ms-input-placeholder {
        color: #000;
    }
}

.nav {
    a {
        color: #333;
        &:hover,
        &:focus {
            background: #181818;
            color: #fff;
            .caret {
                border-top-color: $odiOrange;
            }
        }
    }
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.site-footer {
    background-color: #000;
    font-size: 0.88em;
    color: #adaeaf;
    margin-top: 55px;
    padding-top: 40px;
    padding-bottom: 52px;

    a {
        color: #adaeaf;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    p {
        font-size: 16px;
    }
}

.footer-logo {
    background: url('../images/logo-footer.png');
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 30px 0;
    width: 204px;
    height: 49px;
}

/*------------------------------------*\
    PAGE
\*------------------------------------*/

.page-title {
    background-color: $odiBlue;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px 0;

    h1 {
        margin: 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 0.1em;
    }
}


/*------------------------------------*\
    MASONRY MODULES (on landing pages)
\*------------------------------------*/

.grid {

    margin-top: 25px;
    padding: 0;
    margin-left: 15px;
    margin-right: 0px;
    @include box-sizing(border-box);

    @media (max-width: 767px) {

        // Less than tablet portrait - one column
        // So grid container needs to match left/right margins of rest of layout
        margin-left: 0;

        // Override the inline styles added by Masonry.js, to allow grid items to
        // return to a 100% width one-column layout
        height: auto !important;

    }

}

.home-module {

    list-style: none;
    @include box-sizing(border-box);

    // Default the grid to two columns
    width: 50%;

    // Create a gap between the masonry blocks
    border-right: 15px solid transparent;

    @media (min-width: 992px) {

        // At large enough size, show three columns
        // Note, Masonry can't add up! So work out your columns width and gaps
        // by trial and error!
        // (e.g. 33% should give you three columns, but it won't...)
        margin: 0;
        width: 33.33%;
    }

    @media (max-width: 767px) {

        // Less than tablet portrait - one column
        width: 100%;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        border-right: none;

        // Override the inline styles added by Masonry.js, to allow grid items to
        // return to a 100% width one-column layout
        position: static !important;

    }

}


/*------------------------------------*\
    MASONRY MODULES (animations)
\*------------------------------------*/

// From http://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/
.grid li {

    opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    -moz-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}


/*------------------------------------*\
    MODULES
\*------------------------------------*/

.module {

    color: #000;
    font-weight: bold;
    padding: 25px 0 27px 0;
    margin-bottom: 20px;

    min-height: 220px;

    a {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }

    .category {

        font-size: 14px;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;

    }

    // Center images that may be smaller than the module
    img {

        display: block;
        margin: 0 auto 20px;
        max-width: 100%;

    }

}

.module-heading {

    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;

}

.module-subheading {

    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.module-light,
.module-light a {
    color: #fff;
}

.module-dark,
.module-dark a {
    color: #000;
}

// Colour classes for the modules
.module-colour-1 { background-color: $odiColour1; }
.module-colour-2 { background-color: $odiColour2; }
.module-colour-3 { background-color: $odiColour3; }
.module-colour-4 { background-color: $odiColour4; }
.module-colour-5 { background-color: $odiColour5; }
.module-colour-6 { background-color: $odiColour6; }
.module-colour-7 { background-color: $odiColour7; }
.module-colour-8 { background-color: $odiColour8; }
.module-colour-9 { background-color: $odiColour9; }
.module-colour-10 { background-color: $odiColour10; }
.module-colour-11 { background-color: $odiColour11; }
.module-colour-12 { background-color: $odiColour12; }
.module-colour-13 { background-color: $odiColour13; }
.module-colour-14 { background-color: $odiColour14; }
.module-colour-15 { background-color: $odiColour15; }
.module-colour-16 { background-color: $odiColour16; }

// Module with background image
.module-image-background {

    background-repeat: no-repeat;
    background-position: center 25px;

    .module-heading {

        // Center and uppercase the headline
        text-transform: uppercase;
        text-align: center;

        // No vertical centering possible, so add enough padding so the background
        // image can be seen
        padding-top: 150px;
        padding-bottom: 100px;

    }

}

// Module with fullscreen image
.module-image-fullbleed {

    // Remove all borders so image can expand
    padding: 0;
    img, .module-heading { margin: 0 }

    // Actually make the image fill the block
    // This is basically compensating for column size rounding errors :()
    img {

        width: 100%;
        height: auto;

    }

}

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/

/* Article column layouts */

.article-main {
    @extend .col-md-8;
    padding-right: 70px;
}

.article-sidebar {
    @extend .col-md-4;
}

.article-full {
    @extend .col-md-12;
}

/* Article components */

.site-header .article-hero {

    margin-bottom: 0;

}

.article-hero.within-header {

    margin-bottom: 0;
    margin-top: 0;

}

.article-hero {
    margin: -30px 0 30px;
    position: relative;
    text-align: center;

    .hero {

        margin-left: 15px;
        margin-right: 15px;

    }

    img {
        max-width: 100%;
    }

    .headline {
        color: #00d1af;
        font-size: 80px;
        font-weight: bold;
        line-height: 70px;
        padding: 100px 45px 130px 45px;
        text-align: left;
        margin: 0;

    }

    @media (min-width: 992px) {

        .headline {

            padding: 85px 45px 99px 45px;
            min-height: 324px;

        }

    }

    @media (min-width: 1200px) {

        .headline {

            padding: 114px 45px 140px 45px;
            min-height: 394px;

        }

    }

    @media (max-width: 979px) {

        .headline {

            font-size: 80px;
            line-height: 70px;
            padding: 48px 45px 60px 45px;
            min-height: 249px;

        }

    }

    @media (max-width:767px) {
        .headline {
            font-size: 55px;
            line-height: 60px;
            padding: 55px 30px 67px 30px;
            min-height: 0;
        }
    }

}

.hero-label {
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    text-align: left;
    bottom: 0;
    p {
        margin-bottom: 0;
    }
    .type {
        font-size: 13px;
        text-transform: uppercase;
        line-height: 21px;
    }
    .annotation {
        background: #000;
        font-size: 18px;
        padding: 10px 15px;
    }
}

.hero-img {
    background: #204855;
    height: 400px;
}

.article-body {

    li {

        margin-bottom: 5px;
        line-height: 24px;

    }

    // Line top of articles up with top of sidebar
    h2 { margin-top: 0; }

}

figure {

    margin: 0 20px 20px 0;
    float: left;

    img {
      margin: 0 0 10px;
      max-width: 100%;
    }

    figcaption {
        background-color: #dadada;
        padding: 3px 6px;

    }
}

.article-meta {
    color: #8e8c8c;
    font-size: 14px;
}

table {
    border-top: 2px solid #dadada;

    thead {
        background-color: #f9f9f9;
    }
}




/*------------------------------------*\
    FORMS
\*------------------------------------*/





/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media (max-width: 979px) {

    .footer-nav .pull-right {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {

    .site-header {
        .navbar-form {
            margin-bottom: 0;
            margin-top: 0;
        }
        .navbar-nav {
            margin: 0 -15px;
        }
    }

    .navbar-inverse {
        li {
            display: inline-block;
        }
    }

    .navbar .pull-right {
        float: left;
        width: 100%;
    }

}


@media (max-width: 479px) {

    /* Header */

    .navbar-inverse .navbar-inner {
        border-bottom: 1px solid #707070;
    }

    .navbar .nav.pull-right {
        float: left;
        display: block;
        clear: both;
    }

    #topbar .navbar-inner {
        margin: 0 -15px;
    }

    #topbar ul li {
        &.search {
            float: left;
        }
        a {
            padding: 15px;
        }
    }

    #main-nav {
        a {
            padding: 15px 15px 15px 0;
        }
    }

    /* Footer */


}




