<!doctype html>
<html lang="en" class="no-js">

<head>
    <title>The Open Data Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/main.css">

    <!-- IE-only stylesheets -->
    <!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css"><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css"><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="stylesheets/ie7.css"><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="stylesheets/ie6.css"><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="site-header">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="images/logo-footer.png" alt="The ODI" id="odi-logo"></a>
            </div>
            <div class="pull-right">
              <!-- <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search ODI"/>
                    <input type="submit" value="Go" class="btn"/>
                  </div>
                </div>
              </form> -->
              <ul class="nav navbar-nav">
                <li><a href="#">Contact us</a></li>
                <!-- <li><a href="#about">Sign in</a></li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="navbar navbar-static-top">
          <div class="container">
            <div class="pull-right">
              <ul class="nav navbar-nav main-nav">
                <li class="dropdown active">
                    <a data-toggle="dropdown" href="#">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="article.html">About the ODI</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Procurement</a></li>
                        <li><a href="#">Data as Culture</a></li>
                        <li><a href="#">Space</a></li>
                        <li><a href="#">Dashboards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Get involved <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Start-ups</a></li>
                        <li><a href="#">Open Data Certificates</a></li>
                        <li><a href="#">Nodes</a></li>
                        <li><a href="#">Consultation Response</a></li>
                        <li><a href="#">ODI on the web</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Learning <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Post-Graduate Certficate</a></li>
                        <li><a href="#">Friday Lunchtime Lectures</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Case Studies</a></li>
                    </ul>
                </li>
                <li><a href="#">What's happening</a></li>
                <li class="dropdown last">
                    <a data-toggle="dropdown" href="#">News <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Copy of top nav's search, Contact Us, Sign In - mobile only -->
        <div class="navbar navbar-inverse navbar-static-top mobile-only">
            <div class="container">
            <!-- <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search ODI"/>
                            <input type="submit" value="Go" class="btn"/>
                        </div>
                    </div>
                </form> -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Contact us</a></li>
                    <!-- <li><a href="#about">Sign in</a></li> -->
                </ul>
            </div>
        </div>

    </header> <!-- /site-header -->

    <header class="page-title">
        <div class="container">
            <h1>About the ODI</h1>
        </div>
    </header>

    <section class="article-hero" style="background-color:#0060e8">
        <div class="container">
            <h2 class="headline">Knowledge for everyone</h2>
        </div>
    </section>

    <section class="article-hero" style="background-color:#40d7c3">
        <div class="container">
            <img src="images/odi-mask.png" alt="The ODI"/>
            <div class="hero-label">
                <span class="type">image</span>
                <div class="annotation">
                    <p>ODI Event:</p>
                    <p>Open Data Hack Days</p>
                </div>
            </div>
        </div>
    </section>

    <section class="article-hero" style="background-color:#eb1976">
        <div class="container">
            <img src="images/odi-mask2.jpg" alt="The ODI"/>
            <div class="hero-label">
                <span class="type">image</span>
                <div class="annotation">
                    <p>ODI Event:</p>
                    <p>Open Data Hack Days</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="article-main">
                <article class="article-body">
                    <h2>Just one thing before we begin</h2>
                    <div class="article-meta">
                        <span class="date">08/09/14</span> by
                        <a href="#" class="author">Carl Wood</a>
                    </div>
                    <p class="standfirst">When people have better access to open data, they can make insightful decisions and innovate to improve society, their environment, our economies, and change the world with their ideas. That's what we aim for in <a href="#">our mission</a>. Your effort helps everyone.</p>
                    <h3>Example of blockquote and text</h3>
                    <blockquote>Aliquam vitae enim fringilla, elementum nisi sed, fermentum enim. Integer eu auctor neque. Sed imperdiet, neque id tempus dapibus, purus ipsum pretium eros, nec hendrerit metus tellus eu tortor. Proin a arcu mauris.</blockquote>
                    <h3>Examples of lists</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium nisi rutrum dui pulvinar, vitae viverra augue congue. Maecenas vehicula arcu a dolor rhoncus, eget elementum nisi elementum. Sed mauris odio, bibendum nec nisl ut, accumsan commodo sapien:</p>
                    <ul>
                        <li>A first bullet point</li>
                        <li>A second and slightly longer bullet point</li>
                        <li>And a third bullet point</li>
                    </ul>
                    <p>Ut eget pretium nisi. Pellentesque in dui lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ac quam sed turpis tristique consectetur id ut enim. Ut a luctus nulla. Nam in quam molestie, condimentum nulla in, lacinia ante. Suspendisse potenti.</p>
                    <ol>
                        <li>A first numbered item</li>
                        <li>A second and slightly longer numbered item</li>
                        <li>And a third numbered item</li>
                    </ol>
                    <p>Ut a sapien eget odio accumsan tristique vel at elit. Quisque fermentum lorem eget tortor luctus, id commodo justo elementum. Vestibulum lacinia porta odio, nec iaculis nulla feugiat quis. Nam posuere et velit ut convallis. Morbi volutpat porta augue, non dapibus ipsum congue ut. Fusce id odio risus. Sed tempus sit amet felis at pharetra. Nunc accumsan risus sit amet mauris varius malesuada. Sed pulvinar quis elit eget facilisis. Cras eu rhoncus quam. Vivamus sit amet felis mattis, scelerisque mi nec, ullamcorper justo.</p>
                    <h3>Example of a table</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Table heading 1</th>
                                <th>Another table heading</th>
                                <th>Third header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Content of first cell</td>
                                <td>A little bit more content</td>
                                <td>And some more</td>
                            </tr>
                            <tr>
                                <td>Second row of content</td>
                                <td>A little bit more content</td>
                                <td>And some more</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Examples of buttons</h3>
                    <p><a href="#" class="btn btn-primary btn-lg">A Primary Link</a></p>
                    <p><a href="#" class="btn btn-default btn-lg">A normal link</a></p>
                    <h3>Related articles</h3>
                    <p><a href="#">First article</a>, <a href="#">Second article here</a>, <a href="#">Longer article name goes ehre</a></p>
                </article>
            </div>

            <aside class="article-sidebar">
                <div class="module img-module" style="background-color: #4ee879;">
                    <img src="images/bus.jpg" alt="Bill Thompson"/>
                    <h4 class="module-heading"><a href="#">Bill Thompson #ODIfridays</a></h4>
                    <span class="category">Community</span>
                </div>

                <div class="module module-light" style="background-color: #0092f6;">
                    <h4 class="module-heading"><a href="#">ODI London tech team week notes #44</a></h4>
                    <span class="category">Blog</span>
                </div>
            </aside>

        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                    <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                    <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a>
                        <span>VAT</span><span>143 7796 80</span>
                    </p>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <img alt="Creative Commons Licence" height="15" src="images/cc.png" width="80">
                        </a>
                    </p>
                </div>
                <div class="col-md-4 footer-nav">
                    <nav>
                        <ul class="pull-right list-inline">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="javascripts/bootstrap-dropdown.js"></script>

</body>
</html>
