<!doctype html>
<html lang="en">

<head>
    <title>The Open Data Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="site-header">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="images/logo-footer.png" alt="The ODI" id="odi-logo"></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search ODI"/>
                    <input type="submit" value="Go" class="btn"/>
                  </div>
                </div>
              </form>
              <ul class="nav navbar-nav">
                <li><a href="#">Contact us</a></li>
                <li><a href="#about">Sign in</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="navbar navbar-static-top">
          <div class="container">
            <div class="pull-right">
              <ul class="nav navbar-nav main-nav">
                <li class="dropdown active">
                    <a data-toggle="dropdown" href="#">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="article.html">About the ODI</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Procurement</a></li>
                        <li><a href="#">Data as Culture</a></li>
                        <li><a href="#">Space</a></li>
                        <li><a href="#">Dashboards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Get involved <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Start-ups</a></li>
                        <li><a href="#">Open Data Certificates</a></li>
                        <li><a href="#">Nodes</a></li>
                        <li><a href="#">Consultation Response</a></li>
                        <li><a href="#">ODI on the web</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Learning <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Post-Graduate Certficate</a></li>
                        <li><a href="#">Friday Lunchtime Lectures</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Case Studies</a></li>
                    </ul>
                </li>
                <li><a href="#">What's happening</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">News <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </header> <!-- /site-header -->

    <header class="page-title">
        <div class="container">
            <h1>Upcoming Events</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="article-full">
                <article class="article-body">

                    <p>Take a look at our previous events in the gallery.</p>

                    <p>If you would like to host or sponsor an event at the Open Data Institute please contact <a href="mailto:events@theodi.org">events@theodi.org</a>.</p>

                    <div class="events-list">

                        <hr class="heavy">

                        <div class="list-item">

                            <div class="list-body">

                                <h2>Friday lunchtime lecture: Open Source Finance: first steps with peer-to-peer lending</h2>

                                <div id="event-details" class="collapse">

                                    <p><i>Open Data Institute</i></p>
                                    <p><i>65 Clifton St, London EC2A 4JE, UK</i></p>

                                    <p><strong>Friday lunchtime lectures at the Open Data Institute.</strong></p>

                                    <p>You bring your lunch, we provide tea &amp; coffee, an interesting talk, and enough time to get back to your desk.</p>

                                    <p><strong>For our 18th October lecture... Open Source Finance: first steps with peer-to-peer lending</strong></p>

                                    <p>The second of two lectures examining opening up financial data.</p>

                                    <p>What can open data bring to the financial industry? ODI statistician, Ulrich Atz, will show us progress and work to date examining the data released by the UK peer-to-peer lending market under the Show Me the Money project.</p>

                                    <p>He will take us through what it took to get this data released, what it revealed and what lessons could be learnt for the financial sector as a whole.</p>

                                </div>

                            </div>

                            <div class="list-aside">

                                <p class="date">18th October 2013</p>
                                <p class="meta">1:00pm - 1:45pm</p>
                                <p class="more"><a href="#" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#event-details">Read More...</a></p>

                            </div>

                        </div>









                    </div>

                </article>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                    <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                    <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a>
                        <span>VAT</span><span>143 7796 80</span>
                    </p>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <img alt="Creative Commons Licence" height="15" src="images/cc.png" width="80">
                        </a>
                    </p>
                </div>
                <div class="col-md-4 footer-nav">
                    <nav>
                        <ul class="pull-right list-inline">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="javascripts/bootstrap-dropdown.js"></script>
    <script src="javascripts/bootstrap-collapse.js"></script>

</body>
</html>
