<!DOCTYPE html>

<html>

    <head>

        <title>ODI templates - V1</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="author" content="White October Ltd"/>
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta http-equiv="expires" content="0"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta name="Publisher" content="White October Ltd"/>
        <LINK REL=StyleSheet HREF="http://www.whiteoctober.co.uk/css/clientstyle.css" TYPE="text/css" MEDIA=screen>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    </head>

    <body>

        <h1>ODI templates - V1</h1>

        <p>Section level pages</p>

        <ol>

            <li><a href="section_landing_page.html">Section level landing page</a></li>
            <li><a href="section_landing_page_v2.html">Section level landing page</a> - full bleed hero</li>
            <li><a href="section_landing_page_v3.html">Section level landing page</a> - move title bar below hero (with bleed)</li>
            <li><a href="section_landing_page_v4.html">Section level landing page</a> - move title bar below hero (no bleed)</li>

        </ol>

        <p>Listing pages</p>

        <ol>

            <li><a href="people.html">People page</a></li>
            <li><a href="FAQs.html">FAQs page</a></li>
            <li><a href="news.html">News page</a></li>

        </ol>

        <p>Content pages</p>

        <ol>

            <li><a href="article-full.html">Text page - full page width</a></li>
            <li><a href="article_v2.html">Text page - hero with text</a></li>
            <li><a href="article_v3.html">Text page - hero with image</a></li>
            <!-- <li>Text page - hero with image and message area (*coming soon)</li> -->
            <li><a href="article_v5.html">Text page - hero with full bleed</a> (Adrian not keen on this option)</li>
            <li><a href="article_v6.html">Text page - no hero</a></li>

        </ol>

        <!-- <p>Alternative header layout</p>

        <ol>

            <li><a href="article_v3a.html">Text page - hero block moved above primary navigation</a></li>

        </ol> -->

    </body>

    <!-- Add image alignment options for images in all templates -->

</html>
