<!doctype html>
<html lang="en" class="no-js">

<head>
    <title>The Open Data Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/main.css">

    <!-- IE-only stylesheets -->
    <!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie9.css"><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="stylesheets/ie8.css"><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="stylesheets/ie7.css"><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="stylesheets/ie6.css"><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr to detect CSS transitions etc., for Masonry animations -->
    <script src="javascripts/modernizr.custom.js"></script>

</head>

<body>
    <header class="site-header">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="images/logo-footer.png" alt="The ODI" id="odi-logo"></a>
            </div>
            <div class="pull-right">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search ODI"/>
                    <input type="submit" value="Go" class="btn"/>
                  </div>
                </div>
              </form>
              <ul class="nav navbar-nav">
                <li><a href="#">Contact us</a></li>
                <li><a href="#about">Sign in</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="navbar navbar-static-top">
          <div class="container">
            <div class="pull-right">
              <ul class="nav navbar-nav main-nav">
                <li class="dropdown active">
                    <a data-toggle="dropdown" href="#">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="article.html">About the ODI</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Procurement</a></li>
                        <li><a href="#">Data as Culture</a></li>
                        <li><a href="#">Space</a></li>
                        <li><a href="#">Dashboards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Get involved <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Start-ups</a></li>
                        <li><a href="#">Open Data Certificates</a></li>
                        <li><a href="#">Nodes</a></li>
                        <li><a href="#">Consultation Response</a></li>
                        <li><a href="#">ODI on the web</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Learning <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Post-Graduate Certficate</a></li>
                        <li><a href="#">Friday Lunchtime Lectures</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Case Studies</a></li>
                    </ul>
                </li>
                <li><a href="#">What's happening</a></li>
                <li class="dropdown last">
                    <a data-toggle="dropdown" href="#">News <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </header> <!-- /site-header -->

    <section class="article-hero within-header" style="background-color:#40d7c3">
        <div class="container">
            <img src="images/odi-mask.png" alt="The ODI"/>
            <div class="hero-label">
                <div class="annotation">
                    <span class="type">image:</span>
                    <p>ODI Event:</p>
                    <p>Open Data Hack Days</p>
                </div>
            </div>
        </div>
    </section>

    <header class="page-title">
        <div class="container">
            <h1>About the ODI</h1>
        </div>
    </header>

    <div class="container">

        <div class="row">

            <!-- Upper blocks -->
            <ul class="grid effect-2" id="grid1">

                <li class="home-module">
                    <div class="module module-light module-colour-10">
                        <a href="#">
                            <h1 class="module-heading">About the ODI</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-12">
                        <a href="#">
                            <h1 class="module-heading">Our Space</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark§ module-colour-3">
                        <a href="#">
                            <h1 class="module-heading">Data as Culture Intro</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-5">
                        <a href="#">
                            <h1 class="module-heading">FAQ info</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-7">
                        <a href="#">
                            <h1 class="module-heading">Press Inquiries</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-2">
                        <a href="#">
                            <h1 class="module-heading">Contact us</h1>
                            <p class="module-subheading">Example of a text block would go here</p>
                        </a>
                    </div>
                </li>

            </ul>

            <div class="article-full">
                <article class="article-body">
                    <h2>About The ODI</h2>
                    <p>The Open Data Institute is catalysing the evolution of open data culture to create economic, environmental, and social value. It helps unlock supply, generates demand, creates and disseminates knowledge to address local and global issues.</p>

                    <p>We convene world-class experts to collaborate, incubate, nurture and mentor new ideas, and promote innovation. We enable anyone to learn and engage with open data, and empower our teams to help others through professional coaching and mentoring.</p>
                </article>
            </div>

            <!-- Lower blocks -->
            <ul class="grid effect-2" id="grid2">

                <li class="home-module">
                    <div class="module module-light module-colour-10">
                        <a href="#">
                            <h1 class="module-heading">I have classes of module-light for white text, and module-colour-10 for a blue background</h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-5">
                        <a href="#">
                            <h1 class="module-heading">I have classes of module-dark for black text, and module-colour-5 for a dark green background</h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-10 module-image-background" style="background-image: url(images/red_spikey.png)">
                        <a href="#">
                            <h1 class="module-heading">Background image</h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-4 module-image-foreground">
                        <a href="#">
                            <img src="images/ODI_certs_logo.png">
                            <h1 class="module-heading">
                                Foreground image
                            </h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-2 module-image-fullbleed">
                        <a href="#">
                            <img src="images/come_join_us.png">
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-4 module-image-background" style="background-image: url(images/green_roundy.png)">
                        <a href="#">
                            <h1 class="module-heading">Background image</h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-11 module-image-foreground">
                        <a href="#">
                            <img src="images/white_radiation.png">
                            <h1 class="module-heading">
                                Foreground image
                            </h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-light module-colour-5 module-image-foreground">
                        <a href="#">
                            <img src="images/white_spikey.png">
                            <h1 class="module-heading">
                                Foreground image
                            </h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-2 module-image-fullbleed">
                        <a href="#">
                            <img src="images/red_come_join_us.png">
                        </a>
                    </div>
                </li>

                <li class="home-module">
                    <div class="module module-dark module-colour-8 module-image-foreground">
                        <a href="#">
                            <img src="images/ODI_certs_logo.png">
                            <h1 class="module-heading">
                                Foreground image
                            </h1>
                        </a>
                        <span class="category">Category</span>
                    </div>
                </li>

            </ul>

        </div>

    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 footer-content">
                    <h1 class="footer-logo"><a href="http://www.theodi.org">Open Data Institute</a></h1>
                    <p><a href="http://www.theodi.org/contact">Open Data Institute, 65 Clifton Street, London EC2A 4JE</a></p>
                    <p><a href="mailto:info@theodi.org">info@theodi.org</a> Company <a href="http://opencorporates.com/companies/gb/08030289">08030289</a>
                        <span>VAT</span><span>143 7796 80</span>
                    </p>
                    <p class="license">
                        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB" rel="license">
                            <img alt="Creative Commons Licence" height="15" src="images/cc.png" width="80">
                        </a>
                    </p>
                </div>
                <div class="col-md-4 footer-nav">
                    <nav>
                        <ul class="pull-right list-inline">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="javascripts/bootstrap-dropdown.js"></script>

    <!-- Masonry and its required scripts -->
    <script src="javascripts/imagesloaded.pkgd.min.js"></script>
    <script src="javascripts/masonry.pkgd.min.js"></script>
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/AnimOnScroll.js"></script>

    <!-- Layout (Masonry initialisation etc.) -->
    <script src="javascripts/layout.js"></script>

  </body>
</html>
