/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "main";

.course-sidebar {
  @extend .article-sidebar;
  padding: 0;
  margin: 0;
  
  h3 {
    margin: 0 0 17px 0;
    font-size: 28px;
  }
}

.people-body{
  @extend .article-body;
  h3 {
    margin: 0 0 11px 0;
  }
  
}

.module-course, .module-event {
  span.date {
    font-size: 18px;
  }
}

.course-date, .course-location {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.course-meta {
  padding-top: 12px;
  margin-bottom: 0;
  display: table;
  width: 100%;
  
  .course-book {
    text-align: right;
  }
  
  div {
    display: table-cell;
    vertical-align: middle; 
  }
}

.trainer-description {
  margin-top: 20px;
}

.course-leaders {
  margin-bottom: 12px;
}