<li class="home-module">
	<% begin %>
		<%= render :partial => "module/#{@section.gsub('-', '_')}", :locals => { section: @section, publication: artefact } %>
	<% rescue %>
		<%= render :partial => 'module/block', :locals => { section: @section, publication: artefact } %>
	<% end %>
</li>