<ul class="grid effect-2 listing" id="grid2">
	<% artefacts.each do |artefact| %>
		<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
	<% end %>
</div>

<% if artefacts.respond_to?("results") %>

	<% if artefacts.has_previous_page? %>
		<%= link_to "Previous page", controller: "root", action: action_name, params: { page: @page - 1} %>
	<% end %>

	<% if artefacts.has_next_page? %>
		<%= link_to "Next page", controller: "root", action: action_name, params: { page: @page + 1 } %>
	<% end %>

<% end %>
