<% content_for :title, @title %>

<% if @artefacts.count > 0 %>

  <%= render :partial => "list/list", :locals => { :artefacts => @artefacts } %>

<% else %>

  <p>Sorry there are no jobs currently listed. We regularly add new jobs, so keep checking back, or subscribe to our <%= link_to "atom feed", jobs_section_path(format: :atom) %></p>

<% end %>
