<% content_for :title, @title %>
<ul class="grid effect-2" id="grid2">
	<% @artefacts.each do |artefact| %>
		<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
	<% end %>
</div>

<%= render :partial => "list/masonry" %>
