<% content_for :title, @title %>

<% content_for :hero do %>
	<% if @hero_image %>
		<section class="article-hero">
			<%= render :partial => "section/hero", :locals => { :hero_image => @hero_image, :hero_text => @hero_text, :hero_link => nil, :hero_alt => @title  } %>
		</section>
	<% end %>
<% end %>

<%= render :partial => "list/list", :locals => { :artefacts => @artefacts } %>

<%= render :partial => "list/background_check" %>
