<% content_for :title, @title %>

<div class="article-full">
  <article class="article-body">
      <div class="news-list">

            <hr>
                      
            <% @artefacts.each do |artefact| %>
              <%= render :partial => "list/article", :locals => { :artefact => artefact } %>
          	<% end %>
          
      </div>
  </article>
</div>



