<% content_for :title, "Nodes" %>

<div class="article-full">
  <article class="article-body">
    <%= @publication.content.html_safe %>
  </article>
</div>

<% unless @artefacts.nil? %>
	<ul class="grid effect-2 listing" id="grid2">
		<% @artefacts.each do |artefact| %>
			<%= render :partial => "list/block", :locals => { :artefact => artefact } %>
		<% end %>
	</div>

<% end %>
