<% content_for :title, @title %>

  <ul class="grid effect-2" id="grid-people">
    <div class="grid-sizer"></div>
    <% @artefacts.each_with_index do |person| %>
    <li class="home-module">
        <div class="module module-light module-colour-8">
            <a href="<%= person.web_url %>">
                <%= image_tag person_image(person), width: "238", alt: person.title %>
                <h1 class="module-heading"><%= person.title %></h1>
            </a>
        </div>
    </li>
    <% end %>
  </ul>
