<% if tags.count > 0 %>
<div class="tags">

<h3>Tagged as:</h3>

<% tags.each do |tag| %>
  <%=  %>
  <span class='tag'><%= link_to("#{tag.title}", tag.content_with_tag.web_url) %></span>
<% end %>
<% end %>
</div>
