<% article_meta @publication %>

<% content_for :title do %>
  <a href="<%= case_studies_section_path %>">Case Studies</a>
<% end %>

<div class="article-full">
    <article class="article-body">
      <h2><%= @publication.title %></h2>
      
      <%= @publication.content.html_safe %>
      
    </article>
  
</div>
