<% content_for :title, "Case Studies" %>

<div class="article-full">
    <article class="article-body">
      <h2><%= @publication.title %></h2>
      
      <%= @publication.content.html_safe %>
      
    </article>
  
</div>
