<% content_for :title do %>
  <a href="<%= consultation_responses_section_path %>">Consultation Responses</a>
<% end %>

<div class="article-main">
    <article class="article-body">
      <h2><%= @publication.title %></h2>
      
      <%= @publication.content.html_safe %>
      
    </article>
  
</div>
