<% content_for :title, @course.title %>

<div class="article-main">
	<div class="article-body">
		<h2><%= parse_date(@publication.date).strftime("%A %d %B %Y") %></h2>
		<%= render :partial => 'content/course', :object => @course %>
	</div>
</div>

<aside class="article-sidebar">
    <div class="module img-module module-colour-4">
        <h4 class="module-heading">
        	<a href="<%= courses_article_path(@course.slug) %>">
        		<%= @course.title %>
        	</a>
        </h4>
        <span class="category">Courses</span>
    </div>
</aside>
