<% content_for :title do %>
  <a href="<%= culture_section_path %>">Data as Culture</a>
<% end %>

<div class="article-main">
  <article class="article-body">
    <%= @publication.content.html_safe %>
  </article>
</div>

<aside class="article-sidebar">

	<div class="module module-light module-colour-5">
		<a href="/data-as-culture-2014">
			<h1 class="module-heading">View the 2014 Statement</h1>
			<p class="category">Culture</p>
		</a>
	</div>

	<div class="module module-light module-colour-3">
		<a href="/culture/collection">
			<h1 class="module-heading">View the 2012/13 Collection</h1>
			<p class="category">Culture</p>
		</a>
	</div>

	<div class="module module-light module-colour-7">
		<a href="/culture/about">
			<h1 class="module-heading">Read the Curatorial Statement</h1>
			<p class="category">Culture</p>
		</a>
	</div>

</aside>
