<% content_for :title do %>
  <a href="<%= culture_section_path %>">Data as Culture</a>
<% end %>

<div class="article-main">
  <article class="article-body">
    <%= @publication.content.html_safe %>
  </article>
</div>

<aside class="article-sidebar">

	<div class="module module-light module-colour-5">
		<a href="/data-as-culture-2014">
			<h1 class="module-heading">Data as Culture 2014</h1>
			<p class="category">Culture</p>
		</a>
	</div>

	<div class="module module-light module-colour-3">
<<<<<<< HEAD
		<a href="/data-as-culture-2012">
			<h1 class="module-heading">Data as Culture 2012</h1>
=======
		<a href="/culture/collection">
			<h1 class="module-heading">View the 2012/13 Collection</h1>
>>>>>>> parent of 973c21c... Merge branch 'data-as-culture-side-bar' of github.com:theodi/frontend-www into feature-split-startups
			<p class="category">Culture</p>
		</a>
	</div>

	<div class="module module-light module-colour-7">
		<a href="/culture/about">
<<<<<<< HEAD
			<h1 class="module-heading">Curatorial Statement 2012</h1>
=======
			<h1 class="module-heading">Read the 2012 Curatorial Statement</h1>
>>>>>>> parent of 973c21c... Merge branch 'data-as-culture-side-bar' of github.com:theodi/frontend-www into feature-split-startups
			<p class="category">Culture</p>
		</a>
	</div>

</aside>
