<% content_for :title do %>
  <a href="<%= culture_section_path %>">Data as Culture</a>
<% end %>

<div class="article-main">
  <article class="article-body">
    <%= @publication.content.html_safe %>
  </article>
</div>

<aside class="article-sidebar listing">
  <%= render 'content/related' %>
</aside>
