<% content_for :title do %>
  <% if @publication.end_date.to_datetime >= DateTime.now %>
    <a href="<%= events_section_path %>">Events</a>
  <% else %>
    <a href="<%= events_section_path %>">Previous Events</a>
  <% end %>
<% end %>

<div class ="article-full">
	<article class="article-body">
	  <%= render :partial => 'content/event', :locals => { :publication => @publication, :upcoming_event => @upcoming_event } %>
	</article>
</div>