<% content_for :title, "Jobs" %>


<div class="article-main">
  <article class="article-body">
	<h2><%= @publication.title %></h2>
    <%= @publication.description.html_safe %>
  </article>
</div>

<aside class="article-sidebar">
    <%= render :partial => "list_module/people" %>
</aside>