<% content_for :title, @publication.title %>

<div class="article-main">
  <article class="article-body">
    <%= @publication.description.html_safe %>
  </article>
</div>

<aside class="article-sidebar">
    <%= render :partial => "list_module/people" %>
</aside>