<% content_for :title, "Newsletters" %>

<div class="article-main">
	<article class="article-full">
		<!-- Begin MailChimp Signup Form -->
		<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css" />
		<style type="text/css">#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		 /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="http://theodi.us6.list-manage.com/subscribe/post?u=84bd941af2f1389b9b88c66bb&id=380ec5286f" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
		<h2>Subscribe to our mailing list</h2>

		<p>If you'd like to receive occassional updates by email (many people have asked), please let us know your details (we use <a href="http://mailchimp.com/">MailChimp</a> to manage our list). Obviously we don't spam/etc. and will update our T&C's in the near future.</p>

		<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

		<div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span> </label> <input class="required email" id="mce-EMAIL" name="EMAIL" type="email" value="" /></div>

		<div class="mc-field-group"><label for="mce-FNAME">First Name <span class="asterisk">*</span> </label> <input class="required" id="mce-FNAME" name="FNAME" type="text" value="" /></div>

		<div class="mc-field-group"><label for="mce-LNAME">Last Name <span class="asterisk">*</span> </label> <input class="required" id="mce-LNAME" name="LNAME" type="text" value="" /></div>

		<div class="mc-field-group input-group"><strong>Email Format </strong>

		<ul>
		 <li><input id="mce-EMAILTYPE-0" name="EMAILTYPE" type="radio" value="html" /><label for="mce-EMAILTYPE-0">html</label></li>
		 <li><input id="mce-EMAILTYPE-1" name="EMAILTYPE" type="radio" value="text" /><label for="mce-EMAILTYPE-1">text</label></li>
		 <li><input id="mce-EMAILTYPE-2" name="EMAILTYPE" type="radio" value="mobile" /><label for="mce-EMAILTYPE-2">mobile</label></li>
		</ul>
		</div>

		<div class="clear" id="mce-responses">
		<div class="response" id="mce-error-response" style="display:none"> </div>

		<div class="response" id="mce-success-response" style="display:none"> </div>
		</div>

		<div class="clear"><input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe" /></div>
		</form>
		</div>
		<!--End mc_embed_signup-->
	</article>
</div>