<% content_for :title do %>
  <a href="<%= nodes_section_path %>">Nodes</a>
<% end %>

<div class ="article-main">
	<article class="article-body">
	  <h2><%= @publication.title %></h2>
	  <%= @publication.description.html_safe %>
	</article>
</div>
