<% content_for :title, "Team" %>

<div class="article-main">
  <article class="people-body">
    <h2><%= [@publication.honorific_prefix, @publication.title, @publication.honorific_suffix].join(" ") %></h2>
	  <h3><%= @publication.role %></h3>
    <%= @publication.description.html_safe %>
  </article>
</div>

<aside class="article-sidebar">
    <div class="module img-module module-colour-3">
	    <%= image_tag @publication.square_image, width: "310", alt: @publication.title %>
    </div>
</aside>