---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"<MAILCHIMP_API_KEY>","id":"3089417f22","email":{"email":"tech@theodi.org"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"tech@theodi.org","euid":"b1ddea64fe","leid":"101342825"}'
  recorded_at: Mon, 24 Oct 2016 09:33:00 GMT
recorded_with: VCR 2.9.3
