---
http_interactions:
- request:
    method: post
    uri: https://us8.<PANOPTICON_USER>.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: US-ASCII
      string: ! '{"<PANOPTICON_USER>key":"<MAILCHIMP_API_KEY>","id":"a1c4b47c3a","email":{"email":"notarealemail@example.com"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"},"email_type":"HTML"}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '-100'
      X-N:
      - S
    body:
      encoding: US-ASCII
      string: ! '{"status":"error","code":-100,"name":"ValidationError","error":"This
        email address looks fake or invalid. Please enter a real email address"}'
  recorded_at: Fri, 11 Apr 2014 11:56:07 GMT
recorded_with: VCR 2.9.0
