---
http_interactions:
- request:
    method: post
    uri: https://us6.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"<MAILCHIMP_API_KEY>","id":"3089417f22","email":{"email":"notarealemail@example.com"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"}}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - "-100"
    body:
      encoding: UTF-8
      string: '{"status":"error","code":-100,"name":"ValidationError","error":"This
        email address looks fake or invalid. Please enter a real email address."}'
  recorded_at: Mon, 24 Oct 2016 09:32:59 GMT
recorded_with: VCR 2.9.3
