---
http_interactions:
- request:
    method: post
    uri: https://us6.<PANOPTICON_USER>.mailchimp.com/2.<XPC_SERVICE_NAME>/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"<PANOPTICON_USER>key":"<MAILCHIMP_API_KEY>","id":"3<XPC_SERVICE_NAME>89417f22","email":{"email":"tech@the<CONTENTAPI_DEFAULT_ROLE>.org"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"tech@the<CONTENTAPI_DEFAULT_ROLE>.org","euid":"b1ddea64fe","leid":"1<XPC_SERVICE_NAME>1342825"}'
  recorded_at: Mon, 24 Oct 2016 08:02:56 GMT
recorded_with: VCR 2.9.3
