---
http_interactions:
- request:
    method: post
    uri: https://us6.<PANOPTICON_USER>.mailchimp.com/2.<XPC_SERVICE_NAME>/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"<PANOPTICON_USER>key":"<MAILCHIMP_API_KEY>","id":"3<XPC_SERVICE_NAME>89417f22","email":{"email":"notarealemail@example.com"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"}}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - "-1<XPC_SERVICE_NAME><XPC_SERVICE_NAME>"
    body:
      encoding: UTF-8
      string: '{"status":"error","code":-1<XPC_SERVICE_NAME><XPC_SERVICE_NAME>,"name":"ValidationError","error":"This
        email address looks fake or invalid. Please enter a real email address."}'
  recorded_at: Mon, 24 Oct 2016 08:08:47 GMT
recorded_with: VCR 2.9.3
