---
http_interactions:
- request:
    method: post
    uri: https://us8.<PANOPTICON_USER>.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: US-ASCII
      string: ! '{"<PANOPTICON_USER>key":"<MAILCHIMP_API_KEY>","id":"a1c4b47c3a","email":{"email":"stuart.harrison@the<CONTENTAPI_DEFAULT_ROLE>.org"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"},"update_existing":true,"email_type":"HTML"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"email":"stuart.harrison@the<CONTENTAPI_DEFAULT_ROLE>.org","euid":"d1115ee290","leid":"140979077"}'
  recorded_at: Fri, 11 Apr 2014 10:38:12 GMT
- request:
    method: post
    uri: https://us8.<PANOPTICON_USER>.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: US-ASCII
      string: ! '{"<PANOPTICON_USER>key":"<MAILCHIMP_API_KEY>","id":"55b8ea4d35","email":{"email":"stuart.harrison@the<CONTENTAPI_DEFAULT_ROLE>.org"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"},"update_existing":true,"email_type":"HTML"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"email":"stuart.harrison@the<CONTENTAPI_DEFAULT_ROLE>.org","euid":"d1115ee290","leid":"140979081"}'
  recorded_at: Fri, 11 Apr 2014 10:38:12 GMT
recorded_with: VCR 2.9.0
