---
http_interactions:
- request:
    method: post
    uri: https://us6.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"<MAILCHIMP_API_KEY>","id":"blatantlyfakeid","email":{"email":"stuart.harrison@theodi.org"},"merge_vars":{"FNAME":"Testy","LNAME":"McTest"}}'
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '200'
    body:
      encoding: UTF-8
      string: '{"status":"error","code":200,"name":"List_DoesNotExist","error":"Invalid
        MailChimp List ID: blatantlyfakeid"}'
  recorded_at: Mon, 24 Oct 2016 09:33:00 GMT
recorded_with: VCR 2.9.3
