<head>
  <title>Open Data Institute <%= strip_tags('| ' + yield(:title)).strip if yield(:title).present? %><%= " | " + yield(:page_title) if content_for?(:page_title) %></title>
</head>

<body>
  
  <div id='wrapper'>

    <%= yield %>

  </div>
  
</body>